* {
  margin: 0;
  border: 0;
  padding: 0;
  
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: #710cac;
}

.App button {
  display: inline-block;
  text-align: center;
  font-size: 120px;
  margin-top: 50%;
  background-color: #8d76f3;
  color: rgb(3, 3, 3);
}

.App button:hover {
  cursor: pointer;
  background-color: #8395a7;
}